#but{
    height: 2em;
    border-radius: 1em;
}

@keyframes color1 {
    from {color: black;}
    to {color: green;}
}

@keyframes color2 {
    from {color: lightblue;}
    to {color: blue;}
}

#var{
    animation: color1 0.5s ease 0s infinite alternate;
}

#got{
    animation: color2 0.5s ease 0s infinite alternate;
}